@import "MainTheme.css";

#timetable {
    color: black;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: white;
}

//Schedule CSS Theme
#schedule {
    table-layout: fixed;
}

#schedule, th, td {
   border: 1px solid black;
}

#schedule th{
    text-align: center;
    font-weight: bold;    
}

#schedule td{
    text-align: center;
    width: 5.5em;
}

#schedule td[id^='ID']{
    text-align: right !important;
}