/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9-Mar-2015, 12:51:01 PM
    Author     : Spencer
*/


    body {
         font-family: HelveticaNeue;
         color: white;
         //background-color: rgb(80,39,132);
         background-color: white;
         background-image: url("../images/gray.jpg");
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-position: center;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
    }

    #ImageHeader{
        margin-left: auto;
        margin-right: auto;
        background-image: url("../images/logo2.jpg");
        background-size: contain;
        height:100px;
        width:400px;
    }

    #TextHeader{
        font-family: HelveticaNeue-Thin;
        font-size: 24px;
        text-align: center;
        color: rgb(80,39,132);
    }

    #Login{
        margin-left:auto;
        margin-right:auto;
        display:table;
        text-align: center;
    }

    #MainActions{
        margin-left: auto;
        margin-right:auto;
        display:table;
        text-align: center;
    }

    #Frequents{
        margin-left: auto;
        margin-right:auto;
        display:table;
        text-align: center;
    }

    div.error {
        text-align: center;
        color: red;
    }

    button {
        border: 1px solid #0a3c59;
        background: #633e9c;
        background: -webkit-gradient(linear, left top, left bottom, from(#cad3d9), to(#633e9c));
        background: -webkit-linear-gradient(top, #cad3d9, #633e9c);
        background: -moz-linear-gradient(top, #cad3d9, #633e9c);
        background: -ms-linear-gradient(top, #cad3d9, #633e9c);
        background: -o-linear-gradient(top, #cad3d9, #633e9c);
        background-image: -ms-linear-gradient(top, #cad3d9 0%, #633e9c 100%);
        padding: 13.5px 27px;
        -webkit-border-radius: 11px;
        -moz-border-radius: 11px;
        border-radius: 11px;
        -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
        -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
        box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
        text-shadow: #7ea4bd 0 1px 0;
        color: #000000;
        font-size: 17px;
        font-family: helvetica, serif;
        text-decoration: none;
        vertical-align: middle;
    }
   
    button:hover {
        border: 1px solid #0a3c59;
        text-shadow: #1e4158 0 1px 0;
        background: #633e9c;
        background: -webkit-gradient(linear, left top, left bottom, from(#cad3d9), to(#633e9c));
        background: -webkit-linear-gradient(top, #cad3d9, #633e9c);
        background: -moz-linear-gradient(top, #cad3d9, #633e9c);
        background: -ms-linear-gradient(top, #cad3d9, #633e9c);
        background: -o-linear-gradient(top, #cad3d9, #633e9c);
        background-image: -ms-linear-gradient(top, #cad3d9 0%, #633e9c 100%);
        color: #fff;
    }
   
    button:active {
        text-shadow: #1e4158 0 1px 0;
        border: 1px solid #0a3c59;
        background: #cad3d9;
        background: -webkit-gradient(linear, left top, left bottom, from(#633e9c), to(#633e9c));
        background: -webkit-linear-gradient(top, #633e9c, #cad3d9);
        background: -moz-linear-gradient(top, #633e9c, #cad3d9);
        background: -ms-linear-gradient(top, #633e9c, #cad3d9);
        background: -o-linear-gradient(top, #633e9c, #cad3d9);
        background-image: -ms-linear-gradient(top, #633e9c 0%, #cad3d9 100%);
        color: #fff;
   }

   #Tip1{
        visibility: hidden;
   }
   
   #Tip2{
        visibility: hidden;
   }
   
   #Tip3{
        visibility: hidden;
   }
   
   fieldset{
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background: #ab30f2;
        background: -webkit-gradient(linear, left top, left bottom, from(#650894), to(#ab30f2));
        background: -webkit-linear-gradient(top, #650894, #ab30f2);
        background: -moz-linear-gradient(top, #650894, #ab30f2);
        background: -ms-linear-gradient(top, #650894, #ab30f2);
        background: -o-linear-gradient(top, #650894, #ab30f2);
        background-image: -ms-linear-gradient(top, #650894 0%, #ab30f2 100%);
   }
   
   legend{
        padding: 6px;
        border: 2px solid white;
        background-color: rgb(80,39,132);
        color:white;
   }
   
   input[type="image"]{
        border:2px solid white;
   }
   
   input[type="submit"] {
        border: 1px solid #0a3c59;
        background: #633e9c;
        background: -webkit-gradient(linear, left top, left bottom, from(#cad3d9), to(#633e9c));
        background: -webkit-linear-gradient(top, #cad3d9, #633e9c);
        background: -moz-linear-gradient(top, #cad3d9, #633e9c);
        background: -ms-linear-gradient(top, #cad3d9, #633e9c);
        background: -o-linear-gradient(top, #cad3d9, #633e9c);
        background-image: -ms-linear-gradient(top, #cad3d9 0%, #633e9c 100%);
        padding: 8px 15px;
        -webkit-border-radius: 11px;
        -moz-border-radius: 11px;
        border-radius: 11px;
        -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
        -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
        box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
        text-shadow: #7ea4bd 0 1px 0;
        color: #000000;
        font-size: 17px;
        font-family: helvetica, serif;
        text-decoration: none;
        vertical-align: middle;
   }
   
   input[type="submit"] {
        border: 1px solid #0a3c59;
        text-shadow: #1e4158 0 1px 0;
        background: #633e9c;
        background: -webkit-gradient(linear, left top, left bottom, from(#cad3d9), to(#633e9c));
        background: -webkit-linear-gradient(top, #cad3d9, #633e9c);
        background: -moz-linear-gradient(top, #cad3d9, #633e9c);
        background: -ms-linear-gradient(top, #cad3d9, #633e9c);
        background: -o-linear-gradient(top, #cad3d9, #633e9c);
        background-image: -ms-linear-gradient(top, #cad3d9 0%, #633e9c 100%);
        color: #fff;
   }
   
   input[type="submit"] {
        text-shadow: #1e4158 0 1px 0;
        border: 1px solid #0a3c59;
        background: #cad3d9;
        background: -webkit-gradient(linear, left top, left bottom, from(#633e9c), to(#633e9c));
        background: -webkit-linear-gradient(top, #633e9c, #cad3d9);
        background: -moz-linear-gradient(top, #633e9c, #cad3d9);
        background: -ms-linear-gradient(top, #633e9c, #cad3d9);
        background: -o-linear-gradient(top, #633e9c, #cad3d9);
        background-image: -ms-linear-gradient(top, #633e9c 0%, #cad3d9 100%);
        color: #fff;
   }
   
   /*
   #Breadcrumbs{
        position:relative; 
        height:30px; 
        width:100%;
   }
   
#Breadcrumbs ul{position:relative; margin:0 5px 0 5px; padding:0; height:30px; background: url('../images/breadcrumbImage.png') 0px -30px repeat-x; }
#Breadcrumbs ul li{padding:0; margin:0; list-style:none; float:left; height:30px; display:inline;}
#Breadcrumbs ul li a{font:12px Arial, Helvetica, sans-serif; color:rgb(255,255,255); text-decoration:none; line-height:30px; display:block; background:url('../images/breadcrumbImage.png') 100% -60px no-repeat; padding:0 17px 0 15px; }
#Breadcrumbs ul li a:hover {text-decoration:underline; color:rgb(255,255,255);}
#Breadcrumbs ul li a.active{background:none; color:rgb(255,255,255);}
#Breadcrumbs ul li a.active:hover {text-decoration:none;}
#Breadcrumbs .left{position:absolute; top:0px; left:0px; width:10px; height:30px; display:block; z-index:1; background: url('../images/breadcrumbImage.png') 0% 0px no-repeat;}
#Breadcrumbs .right{position:absolute; top:0px; right:0px; width:10px; height:30px; display:block; z-index:1; background: url('../images/breadcrumbImage.png') 100% -90px no-repeat; }

*/

#Breadcrumbs {
	/*centering*/
	display: inline-block;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	border-radius: 5px;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
	counter-reset: flag; 
}

#Breadcrumbs a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 60px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
#Breadcrumbs a:first-child {
	padding-left: 46px;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
#Breadcrumbs a:first-child:before {
	left: 14px;
}
#Breadcrumbs a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
}

/*hover/active styles*/
#Breadcrumbs a.active, .breadcrumb a:hover{
	background: #333;
	background: linear-gradient(#333, #000);
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
#Breadcrumbs a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 36px; 
	height: 36px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	/*stylish arrow design using box shadow*/
	box-shadow: 
		2px -2px 0 2px rgba(0, 0, 0, 0.4), 
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
#Breadcrumbs a:last-child:after {
	content: none;
}
/*we will use the :before element to show numbers*/
#Breadcrumbs a:before {
	content: counter(flag);
	counter-increment: flag;
	/*some styles now*/
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	position: absolute;
	top: 0;
	left: 30px;
	background: #444;
	background: linear-gradient(#444, #222);
	font-weight: bold;
}


.flat a, .flat a:after {
	background: white;
	color: black;
	transition: all 0.5s;
}
.flat a:before {
	background: white;
	box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active, 
.flat a:hover:after, .flat a.active:after{
	background: #9EEB62;
}