@import "MainTheme.css";

#options-border{
    width: 100%;
    
}

#timetable {
    margin-left: auto;
    margin-right: auto;
    display:table;
    text-align: center;
    color: black;
    background: white;
}