@import "MainTheme.css";

#options-border{
    width: 100%;
    
}

#timetable {
    margin-left: auto;
    margin-right: auto;
    display:table;
    text-align: center;
    color: black;
    background: white;
}

//Schedule CSS Theme
#schedule {
    table-layout: fixed;
    border: 1px solid black;
}
#Spacer {
    border-top-style: none !important;
    border-bottom-style: none !important;
}
#schedule th{
    border: 1px solid black;
    text-align: center;
    font-weight: bold;    
}

#schedule td{
    border: 1px solid black;
    text-align: center;
    width: 5.5em;
}

#schedule td[id^='ID']{
    text-align: right !important;
}