/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9-Mar-2015, 12:51:01 PM
    Author     : Spencer
*/


body {
    font-family: HelveticaNeue;
    color: white;
    background-color: rgb(80,39,132);
}

#ImageHeader{
    margin-left: auto;
    margin-right: auto;
    background-image: url("logo2.jpg");
    background-size: contain;
    height:100px;
    width:400px;
}

#TextHeader{
    font-family: HelveticaNeue-Thin;
    font-size: 24px;
    text-align: center;
}

#Login{
    margin-left:auto;
    margin-right:auto;
    display:table;
    text-align: center;
}
